<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css"/>
    <title>Create New Group</title>

</head>

<body sec:authorize="hasAuthority('admin')" style="padding: 40px">

<div th:replace="~{fragments/header}"></div>

<div class="container-fluid" style="padding: 40px">
    <div class="row vertical-center" style="max-width: 700px">
        <h2>Create New Group</h2>
        <form th:action="@{/group}" th:object="${groupDto}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <div class="form-group">
                    <label>Name</label>
                    <p><input type="text" placeholder="Type a name here..." th:field="*{name}"
                              required pattern="^(?!\s*$).+" onmouseover="showPopup()" onmouseout="hidePopup()">
                    </p>
                    <!--                    popup-->
                    <div id="createGroupNamePopup" class="popup">Like "Slytherin-1", "Hufflepuff-7"...
                    </div>
                    <script>
                        function showPopup() {
                            var popup = document.getElementById("createGroupNamePopup");
                            popup.style.display = "block";
                        }

                        function hidePopup() {
                            var popup = document.getElementById("createGroupNamePopup");
                            popup.style.display = "none";
                        }
                    </script>
                </div>

                <div class="form-group">
                    <p><input type="submit" value="Submit" class="btn btn-success"/></p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>