<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css"/>
    <title>Create New Student</title>

</head>

<body style="padding: 40px">

<div th:replace="~{fragments/header}"></div>

<div class="container-fluid" style="padding: 40px">

    <div th:if="${groups.isEmpty()}" class="row vertical-center" style="max-width: 700px">
        <h2>No groups available</h2>
        <p>Looks like there's no groups to put a new student in Hogwarts at the moment.</p>
        <p>First, you'd add a new group - <a th:href="@{/group/all}">TO GROUPS PAGE</a></p>
    </div>

    <div th:if="${!groups.isEmpty()}" class="row vertical-center" style="max-width: 700px">
        <h2>Create New Student</h2>
        <form th:action="@{/user/student}" th:object="${studentDto}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <div class="form-group">
                    <label>First name</label>
                    <p><input type="text" placeholder="Type a name here..." th:field="*{firstName}"
                              required pattern="^(?!\s*$).+" onmouseover="showPopup()" onmouseout="hidePopup()"></p>
                    <!--                    popup-->
                    <div id="createStudentNamePopup" class="popup">Use more than 2 letters, no numbers or other symbols
                    </div>
                    <script>
                        function showPopup() {
                            var popup = document.getElementById("createStudentNamePopup");
                            popup.style.display = "block";
                        }

                        function hidePopup() {
                            var popup = document.getElementById("createStudentNamePopup");
                            popup.style.display = "none";
                        }
                    </script>
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <p><input type="text" placeholder="Type a name here..." th:field="*{lastName}"></p>
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <p><input type="text" placeholder="Type a name here..." th:field="*{username}"
                              required pattern="^(?!\s*$).+" onmouseover="showUsernamePopup()" onmouseout="hideUsernamePopup()"></p>
                    <!--                    popup-->
                    <div id="createStudentUsernamePopup" class="popup">
                        <p>Use 2 or more lower case letters, numbers or symbols (like ._%\-)</p>
                        <p>Username must be unique! You'll get "bad request" error if choose not unique username. Don't worry, just try again</p>
                    </div>
                    <script>
                        function showUsernamePopup() {
                            var popup = document.getElementById("createStudentUsernamePopup");
                            popup.style.display = "block";
                        }

                        function hideUsernamePopup() {
                            var popup = document.getElementById("createStudentUsernamePopup");
                            popup.style.display = "none";
                        }
                    </script>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <p><input type="text" placeholder="Type a name here..." th:field="*{password}" required
                    onmouseover="showPassPopup()" onmouseout="hidePassPopup()"></p>
                    <!--                    popup-->
                    <div id="createStudentPassPopup" class="popup">
                        Use 2 or more lower case letters, numbers or symbols (like ._%\-)
                    </div>
                    <script>
                        function showPassPopup() {
                            var popup = document.getElementById("createStudentPassPopup");
                            popup.style.display = "block";
                        }

                        function hidePassPopup() {
                            var popup = document.getElementById("createStudentPassPopup");
                            popup.style.display = "none";
                        }
                    </script>
                </div>

                <div class="form-group">
                    <label>Group</label>
                    <p>Choose from the list below</p>
                    <div class="form-group">
                        <select th:field="*{groupDto.name}" required>
                            <option th:each="group : ${groups}" th:value="${group.name}"
                                    th:text="${group.name}"></option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <p><input type="submit" value="Submit" class="btn btn-success"/></p>
            </div>

        </form>
    </div>
</div>

</body>
</html>