<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Subject</title>
</head>

<body>
<div th:replace="~{fragments/header}"></div>
<h2>[[${pageTitle}]]</h2>
<div>
    <form th:action="@{/subject/edit/{id}(id=${subjectDto.id})}" th:object="${subjectDto}" th:method="put">

        <input type="hidden" th:field="*{id}"/>

        <div>
            <div>
                <label>Name</label>
                <div>
                    <input type="text" th:field="*{name}" th:value="*{name}">
                </div>
            </div>

            <div>
                <label>Description</label>
                <p th:text="*{description}"></p>
                <div>
                    <input type="text" th:field="*{description}" value="Type new description here">
                </div>
            </div>

            <div>
                <label>Classroom</label>
                <div>
                    <select th:field="${subjectDto.classroom.name}">
                        <option th:each="classroom : ${freeClassrooms}" th:value="${classroom.name}"
                                th:text="${classroom.name}">
                        </option>
                        <option th:value="*{classroom.name}" th:text="*{classroom.name + ' (current)'}"></option>
                    </select>
                </div>
            </div>

            <!--            if no free professor available-->
            <div th:if="${freeProfessors.isEmpty()}">
                <p>Can't find any free professor to assign to this subject</p>
                <p>Current professor: <span th:value="*{user.firstName + ' ' + user.lastName}"></span></p>
                <p>Add new user with role 'professor' if you'd change a professor for this subject</p>
            </div>

            <!--            if a free professor available-->
            <div th:if="${!freeProfessors.isEmpty()}">
                <label>Professor</label>
                <div>
                    <select th:field="*{user.username}">
                        <option th:each="user : ${freeProfessors}" th:value="${user.username}"
                                th:text="${user.firstName + ' ' + user.lastName}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <p><input type="submit" value="Submit"/></p>
        </div>
    </form>
</div>
</body>
</html>