<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>

<body>
<div th:replace="~{fragments/header}"></div>
<h2>[[${pageTitle}]]</h2>
<div>
    <form th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}" th:method="put">

        <input type="hidden" th:field="*{id}"/>

        <div>
            <div>
                <label>First name</label>
                <div>
                    <p th:text="*{firstName}"/>
                </div>
            </div>

            <div>
                <label>Last name</label>
                <div>
                    <p th:text="*{lastName}"/>
                </div>
            </div>

            <form th:object="${inputReader}">
                <div>
                    <ul>
                        <li th:each="roleName: ${availableRolesNames}">
                            <input type="checkbox" th:field="*{checkboxSelectedValues}" th:value="${roleName}">
                            <label th:for="${#ids.prev('checkboxSelectedValues')}" th:text="${roleName}"></label>
                        </li>
                    </ul>
                </div>

            </form>


            <div>
                <p><input type="submit" value="Submit"/></p>
            </div>
        </div>
    </form>
</div>
</body>

</html>