<h2 class="text-center">[[${pageTitle}]]</h2>

<div>
    <form th:action="@{/user/save}" method="post" enctype="multipart/form-data" th:object="${user}">

        <input type="hidden" th:field="*{id}"/>

        <div>
            <div>
                <label>First name</label>
                <div>
                    <p th:text="*{firstName}"/>
                </div>
            </div>

            <div>
                <label>Last name</label>
                <div>
                    <p th:text="*{lastName}"/>
                </div>
            </div>

            <form th:object="${inputReader}">
                <div>
                    <label>Add Role</label>
                    <div>
                        <select th:field="*{roleNameToInclude}">
                            <option th:each="role: ${availableRoles}" th:value="${role.name}"
                                    th:text="${role.name}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <label>Remove Role</label>
                    <div>
                        <select th:field="*{roleNameToExclude}">
                            <option th:each="role: ${availableRoles}" th:value="${role.name}"
                                    th:text="${role.name}"></option>
                        </select>
                    </div>
                </div>
            </form>
            <div>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </div>
        </div>
    </form>
</div>