<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>

<body>
<div th:replace="~{fragments/header}"></div>
<h2>[[${pageTitle}]]</h2>
<div>
    <form th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}" th:method="put">

        <input type="hidden" th:field="*{id}"/>

        <div>
            <div>
                <label>First name</label>
                <div>
                    <p th:text="*{firstName}"/>
                </div>
            </div>

            <div>
                <label>Last name</label>
                <div>
                    <p th:text="*{lastName}"/>
                </div>
            </div>

            <!--            Change role options for users with no group-->
            <div th:if="${user.getGroup() == null}">
                <form th:object="${inputReader}">
                    <div>
                        <ul>
                            <li>
                                <input type="checkbox" th:field="*{checkboxSelectedValues}" th:value="professor">
                                <label th:text="professor"></label>
                            </li>
                            <li>
                                <input type="checkbox" th:field="*{checkboxSelectedValues}" th:value="admin">
                                <label th:text="admin"></label>
                            </li>
                        </ul>
                    </div>
                </form>
                <div>
                    <p><input type="submit" value="Submit"/></p>
                </div>
            </div>

            <!--            Change role options for users with a group-->
            <div th:if="${user.getGroup() != null}">
                <p>This user was created as a user with role 'student'</p>
                <p>Change role option is disabled for them</p>
            </div>
        </div>
    </form>
</div>
</body>
</html>