<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>Error 403</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<h3>Weak Alohomora spell</h3>
<h4><span th:text="${#authentication.principal.firstName}"/>, the page you wanted to reach is forbidden for you</h4>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>