<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Hogwarts Schedule Manager | Classrooms</title>

    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css"/>

</head>
<body style="padding: 40px">
<div th:replace="~{fragments/header}"></div>

<div class="container-fluid">

    <div sec:authorize="hasAuthority('admin')" class="row" style="margin-bottom: 20px">
        <a th:href="@{/classroom/creation-page}">
            <button type="submit" class="btn btn-info">CREATE NEW CLASSROOM</button>
        </a>
    </div>

    <div sec:authorize="!hasAuthority('admin')" class="row">
        <p class="lead text-info">Log in with admin rights to edit</p>
    </div>

    <div th:if="${message != null}" th:text="${message}" class="row alert alert-success" role="alert">
    </div>

    <div class="row vertical-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Classroom Name</th>
                <th>Description</th>
                <th>Current Subject</th>
                <th sec:authorize="hasAuthority('admin')">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="classroom : ${classrooms}">
                <td th:text="${classroom.getName()}"></td>
                <td th:text="${classroom.getDescription()}"></td>
                <td>
                    <div th:if="${classroom.subjectDto == null}">
                        <p>Vacant</p>
                    </div>
                    <div th:if="${classroom.subjectDto != null}">
                        <p><span th:text="${classroom.subjectDto.name}"/></p>
                    </div>
                </td>
                <td sec:authorize="hasAuthority('admin')">
                    <div>
                        <div class="action-buttons">
                            <div class="btn-edit">
                                <a th:href="@{/classroom/{id}/edit-page(id=${classroom.getId()})}">
                                    <button type="submit" class="btn btn-warning btn-sm" style="margin: 3px">EDIT
                                    </button>
                                </a>
                            </div>
                            <div class="btn-delete">
                                <form th:action="@{/classroom/{id}(id=${classroom.getId()})}" th:method="delete"
                                      id="deleteClassroomForm" class="deleteClassroomForm">
                                    <button type="button" id="buttonDelete" onclick="deleteItem(this)"
                                            class="btn btn-danger btn-sm" style="margin: 3px">DELETE
                                    </button>
                                    <script>
                                        function deleteItem(button) {
                                            var form = button.closest('.deleteClassroomForm');
                                            var isConfirmed = confirm("If this classroom is vacant, just ignore this message." +
                                                "If the classroom is in use, you'll affect schedule, subject, professor pages by deleting it");
                                            if (isConfirmed) {
                                                form.submit();
                                            }
                                        }
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="#">SCROLL UP</a>
    </div>

</div>
</body>