<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Hogwarts Schedule Manager</title>
</head>
<body style="padding: 40px">
<div th:replace="~{fragments/header}"></div>
<div class="container-fluid">

    <div class="row">
        <h2>Contacts</h2>
        <p class="text-success">Lumos maxima</p>
        <p>I'm <a href="https://www.linkedin.com/in/denys-lenskyi-840119266/" target="_blank">Denys Lenskyi</a>, I've designed and developed Hogwarts Schedule Manager Application from zero to hero as one of my academic projects</p>
        <p>Write me via email to <a href="mailto:denislensky94@gmail.com" target="_blank">denislensky94@gmail.com</a> if you have any questions.</p>
    </div>

</div>
<div th:replace="~{fragments/footer}"></div>
</body>