<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap"
            rel="stylesheet"
    />
    <link th:href="@{/css/login-styles.css}" type="text/css" href="../static/css/login-styles.css" rel="stylesheet"/>
</head>
<body>
<div class="form">
    <h1 class="form-header">Please Log In</h1>
    <div class="form-error" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="form-error" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form-body" th:action="@{/login}" method="post">
        <div class="form-body-input">
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div class="form-body-input">
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <div class="form-body-button">
            <input type="submit" value="Log in"/>
        </div>
    </form>
</div>
</body>
</html>