<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css"/>
    <title>Hogwarts Schedule Manager | Students</title>
</head>
<body style="padding: 40px">
<div th:replace="~{fragments/header}"></div>

<div class="container-fluid">

    <div sec:authorize="hasAuthority('admin')" class="row" style="margin-bottom: 20px">
        <a th:href="@{/user/professor/creation-page}">
            <button type="submit" class="btn btn-info">CREATE NEW PROFESSOR</button>
        </a>
    </div>

    <div sec:authorize="!hasAuthority('admin')" class="row">
        <p class="lead text-info">Log in with admin rights to edit</p>
    </div>

    <div class="row vertical-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Roles</th>
                <th>Subject</th>
                <th>Classroom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professorsAndAdmins}">
                <td th:text="${professor.firstName}"></td>
                <td th:text="${professor.getLastName()}"></td>
                <td th:text="${professor.getRolesToString()}"></td>
                <td>
                    <div th:if="${professor.subjectDto != null}">
                        <span th:text="${professor.subjectDto.name}"/>
                    </div>
                    <div th:if="${professor.subjectDto == null}">
                        <p class="text-warning">No subject!</p>
                        <p>Go to <a href="/subject/all">subjects page</a> to add one</p>
                    </div>
                </td>
                <td>
                    <div th:if="${professor.subjectDto != null && professor.subjectDto.classroomDto != null}">
                        <span th:text="${professor.subjectDto.classroomDto.name}"/>
                    </div>
                    <div th:if="${professor.subjectDto != null && professor.subjectDto.classroomDto == null}">
                        <p class="test-warning">No classroom!</p>
                        <p>Go to <a href="/subject/all">subjects page</a> to add one</p>
                    </div>
                </td>
                <td>
                    <div sec:authorize="!hasAuthority('admin')">
                        <p class="lead">N/A</p>
                    </div>
                    <div sec:authorize="hasAuthority('admin')" class="action-buttons">
                        <div class="btn-edit">
                            <a th:href="@{/user/professor/{id}/edit-page(id=${professor.getId()})}">
                                <button type="submit" class="btn btn-warning btn-sm">EDIT</button>
                            </a>
                        </div>
                        <div class="btn-delete">
                            <form th:action="@{/user/professor/{id}(id=${professor.getId()})}" th:method="delete" id="deleteProfessorForm" class="deleteProfessorForm">
                                <button type="button" id="buttonDelete" onclick="deleteItem(this)" class="btn btn-danger btn-sm">DELETE</button>
                                <script>
                                    function deleteItem(button) {
                                        var form = button.closest('.deleteProfessorForm');
                                        var isConfirmed = confirm("This will affect the schedule. The subject this professor is assigned to will have no professor");
                                        if (isConfirmed) {
                                            form.submit();
                                        }
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>