<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Hogwarts Schedule Manager | Subjects</title>
</head>
<body style="padding: 40px">
<div th:replace="~{fragments/header}"></div>

<div class="container-fluid">

    <div class="row" style="margin-bottom: 20px" sec:authorize="hasAuthority('admin')">
        <a th:href="@{/subject/create-subject-page}">
            <button type="submit" class="btn btn-info">CREATE NEW SUBJECT</button>
        </a>
    </div>

    <div class="row vertical-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Subject Name</th>
                <th>Description</th>
                <th>Classroom</th>
                <th>Professor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.getName()}"></td>
                <td th:text="${subject.getDescription()}"></td>
                <td>
                    <div th:if="${subject.classroom == null}">
                        <p class="text-warning">NO CLASSROOM!</p>
                        <p>Edit this subject to add one</p>
                    </div>
                    <div th:if="${subject.classroom != null}">
                        <p><span th:text="${subject.getClassroom().getName()}"/></p>
                    </div>
                </td>
                <td>
                    <div th:if="${subject.user == null}">No professor... Click 'EDIT' to add one</div>
                    <div th:if="${subject.user != null}"><span
                            th:text="${subject.getUser().getFirstName() + ' ' + subject.getUser().getLastName()}"></span>
                    </div>
                </td>
                <td sec:authorize="hasAuthority('admin') || hasAuthority('professor')">
                    <div sec:authorize="hasAuthority('admin') || hasAuthority('professor')">
                        <a th:href="@{/subject/{id}/edit-page(id=${subject.getId()})}">
                            <input type="submit" value="EDIT" class="btn btn-warning" style="margin-bottom: 3px">
                        </a>
                    </div>
                    <div sec:authorize="hasAuthority('admin')">
                        <form th:action="@{/subject/{id}(id=${subject.getId()})}" th:method="delete">
                            <input type="submit" value="DELETE" class="btn btn-danger" style="margin-bottom: 3px">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="#">SCROLL UP</a>
    </div>

</div>
</body>